.container-login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.container-login form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  margin: 0 0 1rem 0;
}
